<h2>Here is the media list</h2> 
    <ul>
      <%@read_m.each do |music|%>
      <li><%= music.id%>. <%= music.band_name%> - <%=music.album_name%> - <%=music.media_type_id%> - <%= music.location_id%></li>
      <%end%>
    </ul>

<a href="/home">Return to main menu?</a>