<h2>Here are your search results:</h2> 

  <table>
    <tr>
      <th>ID</th>
      <th>Band Name</th>
      <th>Album Name</th>
      <th>Media Type ID</th>
      <th>Location Id</th> 
    </tr>
  <% @search_b.each do |music| %>
    <tr>
      <td><%= music.id %></td>
      <td><%= music.band_name %></td>
      <td><%= music.album_name %></td>
      <td><%= music.media_type_id %></td>
      <td><%= music.location_id %></td>
    </tr>
    <% end %>
  </table>

  <p>Media Type Information</p>
  <ul>  
    <% MediaType.all.each do |media|%>
    <li><%= media.id %>. <%= media.type %></li>
    <% end %>
  </ul>

<p>Location Information</p>
  <ul>  
    <% Location.all.each do |location|%>
    <li><%= location.id %>. <%= location.name %></li>
    <% end %>
  </ul>
  
<a href="/home">Back to Home</a>