<h2>Click which entry you would like to delete:</h2>  
  
  <table>
    <tr>
      <th>ID</th>
      <th>Band Name</th>
      <th>Album Name</th>
      <th>Media Type ID</th>
      <th>Location Id</th> 
    </tr>
    <% MusicCollection.all.each do |music| %>
    <tr>
      <td>
        <a href="/delete_entry/<%= music.id %>">
          <%= music.id %>
        </a>
      </td>
      <td><%= music.band_name %></td>
      <td><%= music.album_name %></td>
      <td><%= music.media_type_id %></td>
      <td><%= music.location_id %></td>
    </tr>
    <% end %>
  </table>